/* Common style sheet for HMS Web site
Last update 10 December 2012
*/

body {
	background-color: #ffffd0;
	color: black;
	font-size:1em;
	font-weight:normal;
	word-spacing:normal;
	letter-spacing:normal;
	text-transform:none;
	text-align: left;
	font-family: arial,"century gothic",verdana,helvetica,"myriad web",syntax,sans-serif;
	}
/***** ID SELECTORS (LAYERS) *******/
#maincontainer {
	padding: 0px;
	text-align: left;			/* Counteract IE5/Win Hack */
/*	margin-left: 200px;
	margin-right: 200px;		/**/
	width: 780px;				/**/
/*	border: 2px dashed #ff0000; /**/
	border: 0px #ff0000; 		/**/
	z-index: 1;
	margin: 0px auto;	/* R/L margin widths = "auto" */
	background: #ffffd0;
	}
#hmsheader {
	float: left;
	margin-top: 0px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0px;
	width: 780px;
	z-index: 2;
	border: 0px solid white;
	background: #721B09; /* dark brick red */
	}
#heading {
	padding: 10px;
	margin: 0px;
/*	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;			/**/
	float: left;
	text-align: center;
	border: 2px solid black;
	background: #ffff99;		/**/
	color: blue;
	z-index: 1;
	}
#content {
	padding: 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
	float: left;
	text-align: justify;
	width: 740px;
	border: 2px solid black;
	background: yellow;
	color: blue;
	z-index: 6;
	}
#hmsmenu {
	float: center;
	margin-left: 0px;
	margin-right: 0px;
	width: auto;
	height: auto;
	z-index: 1;
	border: 1px solid white;
	padding: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	background: blue;
a {	text-decoration: none;
	font-weight: bold
	}
a:link {
	color: white;
	}
a:visited {
	color: white;
	}
a:hover {
	text-decoration: underline;
/*	background-color: #ccffcc	*/
	}

	}
/****** CLASS SELECTORS *******/
/* cells with formatted BORDERS*/
td.bmenu {
	width: 95px;
/*	background-color: #FFEBCD; /* blanched almond */
/*	background-color: aqua; /* blanched almond */
	background-image: url('../images/tab.gif');
	color: black;
	font-size: 10pt;
	font-weight: 600;
	text-align: center;
	border-left: 0.0em solid #000000;
	border-right: 0.0em solid #000000;
	padding: 0.0em;
	height: 10pt;
	}

/* cells with background IMAGE*/
td.imenu { width: 97px;
/*	height: 25px; */
	background-color: #ffff99;
	background-image: url('../images/textbox.gif');
	color: black;
	font-size: 9pt;
	font-weight: bold;
	font-style: normal;
	text-align: center;
	border: 0;
	padding: 0;
	}

#printheader {display: none;}

a {	text-decoration: none;
	font-weight: bold
	}
a:link {
	color: red;
	}
a:visited {
	color: fuchsia;
	}
a:hover {
	text-decoration: underline;
/*	background-color: #ccffcc	*/
	}

/*********** TYPE SELECTORS ************/
h1 {
	color: #0066cc;
	font-size: 20px;
	text-align: left;
	font:arial
	}
h2 {
	color: navy;
	font-size: 24px;
	text-align: left
	}
h3 {
	color: #990000;
	font-size: 20px;
	text-align: center
	}
h4 {
	color: black;
	font-size: 16px;
	text-align: center
	}
h5 {
	color: green;
	font-size: 14px;
	text-align: center
	}
h6 {
	color: black;
	font-size: 12px;
	text-align: center
	}
p1 {
	color: blue;
	font-size: 20px;
	font-style: normal;
	text-align: left
	}
p2 {
	color: #0099ff;
	font-size: 18px;
	font-style: normal;
	text-align: left
	}
em {
	font-weight: normal;
	font-style: italic;}
strong {
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	color: red;
	}
small {
	font-weight: normal;
	font-size: 10px;
	font-style: italic;
	}

table {
	border_width: thin;
	padding: 0;
	border_style: groove
	}

/* padding {
	padding_width: 10
	}	*/

redbulet{
	background-image: url('../images/redbulet.gif');
	width="12";
	height="12";
	}
