/* A bit of color */
body {
	background-color: #fff;
	background-image: url('../images/top_stripe.png');
	background-repeat: repeat-x;
}

/* Banner */
#banner {
	height: 165px;
	background-image: url('../images/banner.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

#banner h1 {
	position: absolute;
	left: 17px;
	top: 90px;
	margin: 0em 10px;
	color:  #f0f0f0;
	font-family: arial, sans-serif;
	font-size: 2.2em;
	font-weight: bold;
}

#banner h2 {
	position: absolute;
	left: 17px;
	top: 123px;
	margin: 0em 10px;
	color:  #eee;
	font-family: arial, sans-serif;
	font-size: 1.5em;
	font-weight: normal;
	font-style: italic;
}

#banner img {
	position: absolute;
	left: 663px;
	top: 65px;
	width: 120px;
}

#home_content {
	background-image: url('../images/promo.png');
	background-repeat: no-repeat;
	background-position: 520px 1px;
	min-height: 38em;
}

#mission_statement {
	display: none;
}

#next_performance {
	font-size: 1.5em;
	margin: 1em 0em 0.01em 0em;
}

#our_society {
	font-size: 1.5em;
	margin: 0em 0em 0.01em 0em;
}

#our_professionals {
	padding-top: 1.5em;
}

/* Home page */
#concert_promo img {
	height: 130px;
	margin-left: 1em;
	float: right;
}

#society_promo img {
	width: 203px;
	height: 162px;
	margin: 0em 1em 0em 0em;
	float: left;
}

#homepage_image {
	width: 23.35em;
}

/* sponsors */
#sponsors {
	display: block;
	padding: 1em 5em;
}

#making_music {
	height: 4em;
	float: left;
}

#chalice {
	float: right;
	display: block;
	text-align: center;
}

#community_foundation {
	height: 4em;
}

#chalice_fund {
	height: 1.5em;
}

#come_and_sing {
	width: 16em;
}

#address {
	margin: 0.7em 3em;
	display: block;
}

