body {
	margin:  0px 0px;
	padding: 0px 0px;
}

#maincontainer {
	position: relative;
	margin: 0px auto;
	padding: 0px auto;
	width: 860px;
	height: 100%;
}

.content {
	clear: both;
	margin: 0em 0.6em 0em 0em;
	padding: 0.5em 2em 0em 2em;
	min-height: 33em;
}
#nav_bar {
	margin: 0em 2em;
}
#banner {
	display: block;
	height: 140px;
}

/* Social Media */
#social_media {
	top: 2px;
	left: 600px;
	width: 240px;
	height: 2em;
	position: absolute;
}
#social_media div#twitter {
	position: absolute;
    top: 0px;
    left: 0px;
}
#social_media div#facebook {
	position: absolute;
    top: 0px;
    left: 145px;
}


/* Main content */
.img_col, #lhs {
	clear: both;
	float: left;
	width: 30%;
	min-height: 200px;
	padding-top: 1em;
}

.img_col img {
	width: 16.32em;
}

.content_col_lhs,
.content_col, #rhs {
	width: 69%;
	min-height: 200px;
}

.content_col, #rhs {
	float: right;
}

.content_col_lhs {
	float: left;
}

.img_col_rhs {
	text-align: right;
	clear: both;
	float: right;
	width: 30%;
	padding-top: 1em;
}

.img_col_rhs img {
	width: 96%;
}

#content_osgood div.img_col_rhs img  {
	width: 171px;
	height: 225px;
}
img.sponsors {
	width: 156px;
	padding-bottom: 1em;
}

/* Page 1 specialisms */
#lhs {
	width: 59.8%;
	min-height: 200px;
}

#rhs {
	width: 39.8%;
	min-height: 200px;
}

#footer {
	float: left;
	margin-top: 3.0em;
	width: 100%;
	min-height: 20px;
}

#copyright {
	float: left;
}

#webmaster {
	float: right;
}

.full_width {
	width: 100%;
}

table {
	margin: 1em 0em 2em 0em;
}

.archive_date { width: 10.5em; }
.archive_performers { width: 16em; }
.archive_works { }
.archive_info { width: 6em; }
