/* Link Button */
.link_button {
	border: 1px solid #333;
	padding: 0.35em 2.0em;
	font-size: 0.9em;
	font-weight: normal;
	font-family: arial, sans-serif;
	text-decoration: None;
	color: #EEEEEE;
}


/* Event Promotion */
.event_promo {
	display: block;
	border: none;
	margin: 1.5em 0.25em;
}

.event_promo h2 {
	font-size: 1.2em;
}

.event_promo span {
	font-size: 0.9em;
}

.event_promo .details {
	color: #336699;
}

.event_promo .details .performers {
	font-size: 1.1em;
}

.event_promo .works {
	display: block;
}

.event_promo .works dt {
	font-weight: bold;
	float: left;
	width: 8em;
}

.event_promo .works dt.description {
	font-weight: normal;
}

.event_promo .works dd {
	margin-left: 8em;
	margin-bottom: 0.2em;
	float: clear;
	font-style: italic;
}

.event_promo img {
	display: block;
	margin-left: 1em;
	float: right;
}

.event_promo .works.special_performers dt {
	width: 13em;
}

.event_promo .works.special_performers dd {
	margin-left: 13em;
}

.other_events {
	font-size: 1.1em;
}

/* Performance */
.performance img,
.come_and_sing_event img {
	margin-top: 0.6em;
	width: 200px;
}

.performance,
.come_and_sing_event {
	display: block;
	margin-bottom: 0.6em;
}

.performance .decor,
.come_and_sing_event .decor {
	display: block;
	float: left;
}

.performance .decor .perf_img,
.come_and_sing_event .decor .perf_img {
	display: block;
	text-align: center;
}

.performance .details,
.come_and_sing_event .details {
	float: left;
	color: #003366;
	margin-left: 1em;
	display: block;
	font-family: arial, sans-serif;
}

.performance .details h2,
.performance .details h3,
.come_and_sing_event .details h2,
.come_and_sing_event .details h3 {
	margin-top: 0em;
}
.come_and_sing_event .details h3 { font-size: 0.9em;
}

.performance .details span,
.come_and_sing_event .details span {
	display: block;
	margin: 0.6em 0em;
	font-size: 0.9em;
}
.performance .details span,
.come_and_sing_event .details .date,
.come_and_sing_event .details .flyer {
	font-weight: bold;
}

.performance .details td,
.performance .details table,
.come_and_sing_event .details td,
.come_and_sing_event .details table {
	margin: 1em 0em;
	border: 0px none #333333; 
	border-collapse: collapse;
	padding: 0em;
}

.performance .details td,
.come_and_sing_event .details td {
	padding: 0.2em 1.4em 0.2em 0em;
	font-size: 0.85em;
}

.performance .details p,
.come_and_sing_event .details p {
	width: 40em;
}

.work_composer,
.performer_label {
	font-weight: bold;
}

.work_title {
	font-style: italic;
}

/* */
#left_menu {
	float: left;
}
#right_menu {
	float: right;
}

.clear_float {
	display: block;
	clear: both;
}

/* Menu CSS */
.menu, .menu ul {
	font-family: verdana, sans-serif;
	font-size: 14px;
	padding: 0em;
	margin: 0em;
	list-style: none;
	background-color: #ddd;
	border-width: 0px 0px 1px 0px;
	border-color : #6688ff;
	border-style: solid;
}
.menu ul {
	border-width: 1px 0px 1px 0px;
}

.menu li {
	float: left;
	border-width: 0px 1px 0px 0px;
	border-color : #336699;
	border-style: solid;
}
.menu a {
	color: #224488;
	display: block;
	background-color: #ddd;
	font-size: 0.9em;
	margin: 0em;
	padding: 0.1em 0.8em;
}

.menu, .menu ul, .menu a {
	height: 1.45em;
}

.menu li ul {
	position: absolute;
	left: -999em;
}

.menu li ul,
.menu li ul li,
.menu li ul li a  {
	width: 12em;
	background-color: #f0f0f0;
}

.menu li:hover ul, .menu li.sfhover ul {
	left: auto;
}

.menu a:hover {
	background-color: #99bbdd;
	text-decoration: none;
	color: #003366;
}

.menu ul li a:hover {
	background-color: #99bbdd;
	padding-left: 7px;
	border-width: 0px 0px 0px 3px;
	border-style: solid;
	border-color: #88bbdd;
}

.menu ul {
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background-color: red;
}
.menu {
	border: 0em;
}
.menu ul {
	border: 1px;
}

.link_button {
	background: #003366; /* Old browsers */
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #003366 0%, #336699 50%, #336699 51%, #003366 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#003366), color-stop(50%,#336699), color-stop(51%,#336699), color-stop(100%,#003366));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #003366 0%,#336699 50%,#336699 51%,#003366 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #003366 0%,#336699 50%,#336699 51%,#003366 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #003366 0%,#336699 50%,#336699 51%,#003366 100%);
	/* W3C */
	background: linear-gradient(to bottom, #003366 0%,#336699 50%,#336699 51%,#003366 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#003366', endColorstr='#003366',GradientType=0 );
}

.link_button:hover {
	color: #eee;
	text-decoration: none;
	background: #0650AA; /* Old browsers */
	/* FF3.6+ */
	background: -moz-linear-gradient(top, #0650AA 0%, #336699 50%, #336699 51%, #0650AA 100%);
	/* Chrome,Safari4+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0650AA), color-stop(50%,#336699), color-stop(51%,#336699), color-stop(100%,#0650AA));
	/* Chrome10+,Safari5.1+ */
	background: -webkit-linear-gradient(top, #0650AA 0%,#336699 50%,#336699 51%,#0650AA 100%);
	/* Opera 11.10+ */
	background: -o-linear-gradient(top, #0650AA 0%,#336699 50%,#336699 51%,#0650AA 100%);
	/* IE10+ */
	background: -ms-linear-gradient(top, #0650AA 0%,#336699 50%,#336699 51%,#0650AA 100%);
	/* W3C */
	background: linear-gradient(to bottom, #0650AA 0%,#336699 50%,#336699 51%,#0650AA 100%);
	/* IE6-9 */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0650AA', endColorstr='#0650AA',GradientType=0 );
}
