body {
	margin:  0px 0px;
	padding: 0px 0px;
}
#maincontainer {
	position: relative;
	margin: 0px auto;
	width: 840px;
	height: 100%;
}
#content {
	position: relative;
	margin: 0em 0.6em 0em 0em;
	min-height: 33em;
}
#home_content {
	margin: 0em 0em 0em 0.6em;
}
#banner {
	position: relative;
	background-color: #111;
	display: block;
	height: 140px;
}
#nav_bar {
	position: relative;
	top: 117px;
	width: 100%;
	height: 30px;
}
#nav_menu {
	float: left;
}
#social {
	float: right;
}
/* Main content */
.img_col, #lhs {
	clear: both;
	float: left;
	width: 30%;
	min-height: 200px;
	padding-top: 1em;
}

.img_col img {
	width: 96%;
}

.content_col, #rhs {
	float: right;
	width: 70%;
	min-height: 200px;
}
/* Page 1 specialisms */
#lhs {
	width: 59.8%;
	min-height: 200px;
}
#rhs {
	width: 39.8%;
	min-height: 200px;
}

#footer {
	float: left;
	margin-top: 3.0em;
	width: 100%;
	min-height: 20px;
}
#copyright {
	float: left;
}
#webmaster {
	float: right;
}
