{% extends "layout.html" %}
{% block content %} 
<div class="content">

<h2>Events</h2>

<p>The Society performs three concerts with the orchestra and chorus every year
in the Haslemere Hall.  An additional orchestral concert is held in St
Christopher's Church, Weyhill, often featuring a soloist from within the
orchestra.</p>

<a id="latest_concert"></a>
<h3>December, HMS 90th Anniversary Concert</h3>

<div class="performance">

	<div class="decor">
		<span class="perf_img">
			<img src="images/choir_1.png" />
			<!-- <img src="images/strings.jpg" /> -->
		</span>
	</div> <!-- decor -->

	<div class="details">

		<span class="date">Saturday 7<super>th</super> December 2013, 19:30</span>
		<span class="location">Haslemere Hall (<a href="http://www.haslemerehall.co.uk/" target="_blank">venue</a>)</span>
		<span class="tickets">
			Tickets: &pound;8.00 - &pound;15.00</br>
			Under 18: Half price
		</span>

<!--
		<span class="location">St Christopher's Church (<a href="https://maps.google.com/maps?ll=51.090114,-0.726321&spn=0.007857,0.019205&fb=1&hq=st+christopher's+church+haslemere&hnear=st+christopher's+church+haslemere&cid=0,0,14877506155288956453&t=h&z=16&iwloc=A" target="_blank">venue</a>)</span>
-->
		<!-- performers -->
		<table class="performers">
			<tr>
				<td class="conductor_label">Conductor</td>
				<td class="conductor_value"><a href="about.html#musical_director">James Ross</a></td>
			</tr>
		</table>

		<!-- performance  works -->
		<table class="works">
			<tr>
				<td colspan=2><h4 class="concert_heading">Works:</h4></td>
			</tr>
<!--			<tr>
				<td class="work_composer">
					composer:
				</td>
				<td class="work_title">
					work
				</td>
			</tr>
-->
			<tr>
				<td class="work_composer">Beethoven</td>
				<td class="work_title">Symphony No. 3 <em>Eroica</em></td>
			</tr>
			<tr>
				<td class="work_composer">
					Bach
				</td>
				<td class="work_title">
					Cantata No 140 <em>Wachet auf</em> (First movement)
				</td>
			</tr>
			<tr>
				<td class="work_composer"></td>
				<td class="work_conductor">
					Conducted by <a href="about.html#chorus_master">Christopher Hann</a>
				</td>
			</tr>
			<tr>
				<td class="work_composer">
					Vivaldi
				</td>
				<td class="work_title">
					Gloria
				</td>
			</tr>
		</table>

		<table class="performers">
			<tr>
				<td colspan=2><h4 class="concert_heading">Soloists:</h4></td>
			</tr>
			<tr>
				<td class="performer_label">Soprano</td>
				<td class="performer_value">Sara Wallander Ross</td>
			</tr>
			<tr>
				<td class="performer_label">Mezzo-Soprano</td>
				<td class="performer_value">Angharad Lewis</td>
			</tr>
		</table>

		<p class="performance_notes"> For the celebratory concert on Saturday 7th December the Haslemere Musical
			Society is performing Beethoven's Symphony No 3 (<em>Eroica</em>).  This work was
			performed at the first concert of the Society in 1923.  At that time any
			shortages in the orchestra were filled in by piano support.  Ninety years on
			the orchestra will perform in all its glory - no gaps.  The chorus will join
			the orchestra for two wonderful choral pieces: the famous Vivaldi <em>Gloria</em> and
			the first movement of a Bach Cantata, guaranteed to delight, the <em>Cantata No 140</em>.
			James Ross is the conductor for all but the Bach which will be conducted
			by the Society's Chorus Master, Christopher Hann.
		</p>



		<span class="perf_button">
			<a class="link_button" href="http://www.intelligent-tickets.com/index.php?th=hh" target="_blank">Buy Tickets</a>
		</span>

	</div> <!-- details -->

	<span class="clear_float"></span>
</div> <!-- performance -->


<div class="img_col_rhs">
	<img src="images/comeAndSing.png" />
</div>

<div class="come_and_sing_event">
	<a id="come_and_sing"></a>
	<h3>Come and Sing</h3>

	<p>Our Come and Sing event welcomes society members, family,
	friends and others to join us in learning a new work.</p>

	<div class="details">

		<span class="date">Saturday 1<super>st</super> February 2014</span>

		<!-- performers -->
		<table class="performers">
			<tr>
				<td class="performer_label">Conductor</td>
				<td class="performer_value"><a href="about.html#chorus_master">Christopher Hann</a></td>
			</tr>
		</table>

		<!-- performance  works -->
		<table class="works">
			<tr>
				<td class="work_composer">Handel:</td>
				<td class="work_title">Zadok the Priest</td>
			</tr>
			<tr>
				<td class="work_composer">Parry:</td>
				<td class="work_title">I was Glad</td>
			</tr>
			<tr>
				<td class="work_composer">Parry:</td>
				<td class="work_title">Blest Pair of Sirens</td>
			</tr>
		</table>
		<span class="flyer"><a href="images/flyers/come and sing 2014 flyer.pdf" target="_blank">Download Flyer</a></span>

		<span class="location"><h3>Venue:</h3>St Christopher's Church, Weyhill, GU27 1DD (<a href="https://maps.google.com/maps?ll=51.090114,-0.726321&spn=0.007857,0.019205&fb=1&hq=st+christopher's+church+haslemere&hnear=st+christopher's+church+haslemere&cid=0,0,14877506155288956453&t=h&z=16&iwloc=A" target="_blank">map</a>)</span>
		<span class="tickets"><h3>Tickets:</h3>&pound;12.00 including music hire, tea and cakes.</br>
			(HMS Members and groups of 10 or more &pound;10, audience free)<br/>
			Tickets available from Peter Sharpe (01428 604860),
			<a href="mailto:treasurer@hmsoc.org.uk">treasurer@hmsoc.org.uk</a>.
		</span>

	</div> <!-- details -->

</div>


<div class="clear_float"></div>
<!--
<div class="content_full_width">
	<a id="tickets"></a>
	<h2>Tickets</h2>

	<p>Tickets for all of our events are available online and in person from the
	<a href="http://www.haslemerehall.co.uk" target="_blank">Haslemere Hall Box Office (www.haslemerehall.co.uk)</a>
	or from Society members.</p>
</div>
-->

<!--
<div class="img_col_rhs">
	<img src="images/violinist.png" />
</div>
<div class="content_col_lhs">
	<h3><a id="summer_sessions" href="join.html#summer_sessions">Summer Sessions</a></h3>

	<p>In the Summer the Society runs four Summer Sessions which are open to all. One
	session is with both the orchestra and chorus and the others are normally for
	orchestra only. </p>

	<p>This year there is an extra choir only session. Various works are sight read
	and performed with a guest conductor. A charge of &pound;4 is made to cover music
	hire, venue and refreshments. The Society welcomes musicians and singers who
	are not currently members of the Society. </p>

	<p>The sessions are in the Haslemere Hall (please use the rear entrance) from
	7.30 to 10.00pm.</p>

	<span class="clear_float"></span>
</div> 


<div class="content_full_width">
	<table>
		<thead>
			<th>Date</th>
			<th>Composer</th>
			<th>Work</th>
			<th>Conductor</th>
			<th>Participants</th>
		</thead>
	<tr>
		<td>3<sup>rd</sup> June </td>
		<td>Dukas</td>
		<td><em>Sorcerer's Apprentice</em></td>
		<td>Christopher Hann</td>
		<td>Orchestra and Chorus</td>
	</tr>
	<tr>
		<td></td>
		<td>Handel</td>
		<td><em>The King Shall Rejoice, Zadok the Priest</em></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>10<sup>th</sup> June</td>
		<td>Parry</td>
		<td><em>I Was Glad</em></td>
		<td>Sarah Thomas</td>
		<td>Orchestra and Chorus</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>Lighter works, including <em>Palm Court</em> and <em>Pimms</em></td>
		<td>Tom Horn</td>
		<td>Orchestra</td>
	</tr>
	<tr>
		<td>17<sup>th</sup> June</td>
		<td>Dvo&#780;r&aacute;k</td>
		<td><em>Serenade for Strings</em></td>
		<td>Christopher Hann</td>
		<td>Orchestral string section</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><em>Czech Suite for Winds</em></td>
		<td>TBD</td>
		<td>Orchestra wind section</td>
	</tr>
	<tr>
		<td>24<sup>th</sup> June</td>
		<td>Holst</td>
		<td>Movements from <em>Planets Suite</em> including <em>Mars</em></td>
		<td>Mark Cardy</td>
		<td>Orchestra</td>
	</tr>
	</table>

	<p>Contact Marion Thomas on 07789 994915 for more information.</p>
</div>

<div class="clear_float"></div>
-->
<div class="content_full_width">
	<a id="season"></a>
	<h3>2013-2014 Season</h3>

	<table>
		<thead>
		<tr><th>Date/Location</th><th>Performers</th><th>Works</th></tr>
		</thead>
		<tbody>
<!--
		<tr>
			<td>19<sup>th</sup> October 2013<br/>
			St Christopher's Church</td>
			<td>Orchestral Concert</td>
			<td>Ravel: <em>Le Tombeau de Couperin</em><br/>
			Faur&eacute; Suite: <em>Pel&eacute;as et Melisande</em><br/>
			Brahms: Serenade No 1</td>
		</tr>
		<tr>
			<td>7<sup>th</sup> December 2013<br/>
			Haslemere Hall</td>
			<td>Orchestra and Chorus</td>
			<td>Beethoven: <en>Symphony No 3 Eroica</em><br/>
			Bach: <em>Cantata No 140: Wachet auf, ruft uns die Stimme</em> (first movement)<br/>
			Vivaldi: Gloria</td>
		</tr>
-->
		<tr>
			<td>8<sup>th</sup> March 2014<br/>
			Haslemere Hall</td>
			<td>Orchestra and Chorus</td>
			<td>Holst: <em>A Fugal Overture (Overture to The Perfect Fool)</em><br/>
			Dvo&#780;r&aacute;k: <em>Symphony No 6</em><br/>
			Bruckner: <em>Locus Iste</em><br/>
			Bruckner: <em>Mass No 1 in D minor</em></td>
		</tr>
		<tr>
			<td>10<sup>th</sup> May 2014<br/>
			Haslemere Hall</td>
			<td>Orchestra and Chorus</td>
			<td>Brahms: <em>Academic Festival Overture</em><br/>
			Bruch: <em>Scottish Fantasy</em> (Tom Horn, violin)<br/>
			Bach (arr. Gounod): <em>Ave Maria</em><br/>
			Franck: <em>Psalm 150</em><br/>
			Franck: <em>Panis Angelicus</em><br/>
			Vaughan Williams: <em>English Folksong Suite</em> (orch. Gordon Jacob)<br/>
			Mozart: <em>Ave Verum Corpus</em><br/>
			Handel: Coronation Anthems (<em>The King shall Rejoice</em> and <em>Zadok the Priest</em>)</td>
		</tr>
		</tbody>
	</table>
</div>

<div class="img_col_rhs">
	<img src="images/reviews/orchestraConcert.png" />
</div>

<div class="content_col_lhs">
	<a id="latest_reviews"></a>
	<h3>Latest Reviews</h3>

	<p><strong>Haslemere Musical Society launch season with impressive orchestral concert<br/>
		St Christopher's Church, Wey Hill, Haslemere, 19th October 2013</strong></p>

		<p>The Haslemere Musical Society, forever ambitious and resourceful, opened their
		season on  Saturday 19th October when the Haslemere Symphony Orchestra
		performed to a packed St Christopher's Church.</p>

		<p>These purely amateur musicians perform because they love doing so, and there
		are no auditions as members can soon discern whether they are up to standard.
		And up to standard they certainly were in ambitious works by the French
		composers Gabriel Faur&eacute; and Maurice Ravel. Known mainly for the famous
		Sicilienne, performed by flautists the world over, Faur&eacute;'s suite taken from his
		incidental music for Maeterlinck's play P&eacute;lleas et M&eacute;lisande contains much
		haunting music reflecting the tragic nature of the drama. In this the oboe is
		prominent, and David Farnworth contributed brilliantly, partnered by some
		excellent flute, clarinet, and horn playing. The warm acoustics of the church
		gave the strings a wonderfully warm sound, which was also brought to bear in
		the following work. This was Maurice Ravel's Le Tombeau de Couperin,  a tribute
		not only to eighteenth-century musicians and musical life, but to the
		composer's friends killed in the First World War. Antique dances are given a
		piquant twist here, with much imaginative orchestration, and the strings
		excelled themselves in the final Rigaudon. But in other places, such as the
		dissonant Forlane we could have wished for a little more flow and a little less
		stiltedness from the interpretation of conductor James Ross.</p>

		<p>Johannes Brahms's D major Serenade is the work of a young man (not the stolid
		bearded figure of later years) still mourning his mentor Robert Schumann and
		not yet daring to emulate his hero Beethoven by writing a symphony (that was to
		come some fifteen years later). But the serenade, albeit modelled on Mozart's
		Posthorn Serenade, is symphonic in many ways, and in places sinks to tremendous
		emotional depths. Roger Doulton opened splendidly on the French horn, and
		indeed contributed wonderfully to the whole performance. There were glorious
		choirs of wind instruments and some lovely string playing.</p>

		<p><em>Shelagh Godwin</em></p>
</div>


<div class="clear_float"></div>

<div class="content_full_width">
	<h3>Previous Seasons' Concerts</h3>

	<p>Visit the <a href="archive.html">concert archive</a> to see the
	programmes and reviews from previous seasons.</p>

</div>

</div> <!-- End Content -->
{% endblock %}
