{% extends "layout.html" %}
{% block content %} 
<div class="content">

<h2>Events</h2>

<p>The Society performs three concerts with the orchestra and chorus every year
in the Haslemere Hall.  An additional orchestral concert is held in St
Christopher's Church, Weyhill, often featuring a soloist from within the
orchestra.</p>

<a id="latest_concert"></a>
<h3>March Concert</h3>

<div class="performance">

	<div class="decor">
		<span class="perf_img">
			<img src="images/choir_1.png" />
			<!-- <img src="images/strings.jpg" /> -->
		</span>
	</div> <!-- decor -->

	<div class="details">

		<span class="date">Saturday 8<super>th</super> March 2014, 19:30</span>
		<span class="location">Haslemere Hall (<a href="http://www.haslemerehall.co.uk/" target="_blank">venue</a>)</span>
		<span class="tickets">
			Tickets: &pound;8.00 - &pound;15.00</br>
			Under 18: Half price
		</span>

<!--
		<span class="location">St Christopher's Church (<a href="https://maps.google.com/maps?ll=51.090114,-0.726321&spn=0.007857,0.019205&fb=1&hq=st+christopher's+church+haslemere&hnear=st+christopher's+church+haslemere&cid=0,0,14877506155288956453&t=h&z=16&iwloc=A" target="_blank">venue</a>)</span>
-->
		<!-- performers -->
		<table class="performers">
			<tr>
				<td class="conductor_label">Conductor</td>
				<td class="conductor_value"><a href="about.html#musical_director">James Ross</a></td>
			</tr>
		</table>

		<!-- performance  works -->
		<table class="works">
			<tr>
				<td colspan=2><h4 class="concert_heading">Works:</h4></td>
			</tr>
<!--			<tr>
				<td class="work_composer">
					composer:
				</td>
				<td class="work_title">
					work
				</td>
			</tr>
-->
			<tr>
				<td class="work_composer">Holst</td>
				<td class="work_title">A Fugal Overture (Overture to The Perfect Fool)</em></td>
			</tr>
			<tr>
				<td class="work_composer">
					Dvo&#780;r&aacute;k
				</td>
				<td class="work_title">
					Symphony No 6
				</td>
			</tr>
			<tr>
				<td class="work_composer">
					Bruckner
				</td>
				<td class="work_title">
					Locus Iste
				</td>
			</tr>
			<tr>
				<td class="work_composer">
					Bruckner
				</td>
				<td class="work_title">
					Mass No 1 in D minor
				</td>
			</tr>
		</table>

<!--
		<table class="performers">
			<tr>
				<td colspan=2><h4 class="concert_heading">Soloists:</h4></td>
			</tr>
			<tr>
				<td class="performer_label">Soprano</td>
				<td class="performer_value">Sara Wallander Ross</td>
			</tr>
			<tr>
				<td class="performer_label">Mezzo-Soprano</td>
				<td class="performer_value">Angharad Lewis</td>
			</tr>
		</table>
		<p class="performance_notes">
		</p>

-->

		<span class="perf_button">
			<a class="link_button" href="http://www.intelligent-tickets.com/index.php?th=hh" target="_blank">Buy Tickets</a>
		</span>

	</div> <!-- details -->

	<span class="clear_float"></span>
</div> <!-- performance -->


<div class="img_col_rhs">
	<img src="images/comeAndSing.png" />
</div>

<div class="come_and_sing_event">
	<a id="come_and_sing"></a>
	<h3>Come and Sing</h3>

	<p>Our Come and Sing event welcomes society members, family,
	friends and others to join us in learning a new work.</p>

	<div class="details">

		<span class="date">Saturday 1<super>st</super> February 2014</span>

		<!-- performers -->
		<table class="performers">
			<tr>
				<td class="performer_label">Conductor</td>
				<td class="performer_value"><a href="about.html#chorus_master">Christopher Hann</a></td>
			</tr>
		</table>

		<!-- performance  works -->
		<table class="works">
			<tr>
				<td class="work_composer">Handel:</td>
				<td class="work_title">Zadok the Priest</td>
			</tr>
			<tr>
				<td class="work_composer">Parry:</td>
				<td class="work_title">I was Glad</td>
			</tr>
			<tr>
				<td class="work_composer">Parry:</td>
				<td class="work_title">Blest Pair of Sirens</td>
			</tr>
		</table>
		<span class="flyer"><a href="images/flyers/come and sing 2014 flyer.pdf" target="_blank">Download Flyer</a></span>

		<span class="location"><h3>Venue:</h3>St Christopher's Church, Weyhill, GU27 1DD (<a href="https://maps.google.com/maps?ll=51.090114,-0.726321&spn=0.007857,0.019205&fb=1&hq=st+christopher's+church+haslemere&hnear=st+christopher's+church+haslemere&cid=0,0,14877506155288956453&t=h&z=16&iwloc=A" target="_blank">map</a>)</span>
		<span class="tickets"><h3>Tickets:</h3>&pound;12.00 including music hire, tea and cakes.</br>
			(HMS Members and groups of 10 or more &pound;10, audience free)<br/>
			Tickets available from Peter Sharpe (01428 604860),
			<a href="mailto:treasurer@hmsoc.org.uk">treasurer@hmsoc.org.uk</a>.
		</span>

	</div> <!-- details -->

</div>


<div class="clear_float"></div>
<!--
<div class="content_full_width">
	<a id="tickets"></a>
	<h2>Tickets</h2>

	<p>Tickets for all of our events are available online and in person from the
	<a href="http://www.haslemerehall.co.uk" target="_blank">Haslemere Hall Box Office (www.haslemerehall.co.uk)</a>
	or from Society members.</p>
</div>
-->

<!--
<div class="img_col_rhs">
	<img src="images/violinist.png" />
</div>
<div class="content_col_lhs">
	<h3><a id="summer_sessions" href="join.html#summer_sessions">Summer Sessions</a></h3>

	<p>In the Summer the Society runs four Summer Sessions which are open to all. One
	session is with both the orchestra and chorus and the others are normally for
	orchestra only. </p>

	<p>This year there is an extra choir only session. Various works are sight read
	and performed with a guest conductor. A charge of &pound;4 is made to cover music
	hire, venue and refreshments. The Society welcomes musicians and singers who
	are not currently members of the Society. </p>

	<p>The sessions are in the Haslemere Hall (please use the rear entrance) from
	7.30 to 10.00pm.</p>

	<span class="clear_float"></span>
</div> 


<div class="content_full_width">
	<table>
		<thead>
			<th>Date</th>
			<th>Composer</th>
			<th>Work</th>
			<th>Conductor</th>
			<th>Participants</th>
		</thead>
	<tr>
		<td>3<sup>rd</sup> June </td>
		<td>Dukas</td>
		<td><em>Sorcerer's Apprentice</em></td>
		<td>Christopher Hann</td>
		<td>Orchestra and Chorus</td>
	</tr>
	<tr>
		<td></td>
		<td>Handel</td>
		<td><em>The King Shall Rejoice, Zadok the Priest</em></td>
		<td></td>
		<td></td>
	</tr>
	<tr>
		<td>10<sup>th</sup> June</td>
		<td>Parry</td>
		<td><em>I Was Glad</em></td>
		<td>Sarah Thomas</td>
		<td>Orchestra and Chorus</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td>Lighter works, including <em>Palm Court</em> and <em>Pimms</em></td>
		<td>Tom Horn</td>
		<td>Orchestra</td>
	</tr>
	<tr>
		<td>17<sup>th</sup> June</td>
		<td>Dvo&#780;r&aacute;k</td>
		<td><em>Serenade for Strings</em></td>
		<td>Christopher Hann</td>
		<td>Orchestral string section</td>
	</tr>
	<tr>
		<td></td>
		<td></td>
		<td><em>Czech Suite for Winds</em></td>
		<td>TBD</td>
		<td>Orchestra wind section</td>
	</tr>
	<tr>
		<td>24<sup>th</sup> June</td>
		<td>Holst</td>
		<td>Movements from <em>Planets Suite</em> including <em>Mars</em></td>
		<td>Mark Cardy</td>
		<td>Orchestra</td>
	</tr>
	</table>

	<p>Contact Marion Thomas on 07789 994915 for more information.</p>
</div>

<div class="clear_float"></div>
-->
<div class="content_full_width">
	<a id="season"></a>
	<h3>2013-2014 Season</h3>

	<table>
		<thead>
		<tr><th>Date/Location</th><th>Performers</th><th>Works</th></tr>
		</thead>
		<tbody>
		<tr>
			<td>10<sup>th</sup> May 2014<br/>
			Haslemere Hall</td>
			<td>Orchestra and Chorus</td>
			<td>Brahms: <em>Academic Festival Overture</em><br/>
			Bruch: <em>Scottish Fantasy</em> (Tom Horn, violin)<br/>
			Bach (arr. Gounod): <em>Ave Maria</em><br/>
			Franck: <em>Psalm 150</em><br/>
			Franck: <em>Panis Angelicus</em><br/>
			Vaughan Williams: <em>English Folksong Suite</em> (orch. Gordon Jacob)<br/>
			Mozart: <em>Ave Verum Corpus</em><br/>
			Handel: Coronation Anthems (<em>The King shall Rejoice</em> and <em>Zadok the Priest</em>)</td>
		</tr>
		</tbody>
	</table>
</div>

<div class="img_col_rhs">
	<img src="images/reviews/90thAniversary.png" />
</div>

<div class="content_col_lhs">
	<a id="latest_reviews"></a>
	<h3>Latest Reviews</h3>

		<p><strong>90 years young</strong></p>

		<p>The concert given by Haslemere Musical Society's symphony orchestra and chorus
		on Saturday marked the 90th anniversary of its first concert, and demonstrated their
		ability to excel in a contrasted programme of classical masterpieces.</p>

		<p>Under the experienced baton of Dr. James Ross, the orchestra shone in Beethoven's 3rd
		symphony, a powerful work lasting nearly 50 minutes, requiring great concentration
		from the orchestral players. From the massive initial two chords to the hectic finale,
		momentum was maintained with controlled enthusiasm, and the tricky rhythmic changes
		rendered exciting by the players' assurance. The horns gave a notable contribution
		in the scherzo.</p>

		<p>Three sections of Bach's cantata Wachet Auf (Sleepers awake) provided familiar
		melodies in both choral and orchestral parts, conducted by Chorus Master Christopher
		Hann with rhythmic verve. Bach makes formidable demands on his singers, his settings
		are both high and loud, and the large chorus was in confident form.</p>

		<p>Dr Ross then returned to conduct Vivaldi's Gloria, a justly popular work. The setting
		is divided into 12 short sections, calling on the chorus and soloists to express a variety
		of religious feeling. All rose to the occasion with aplomb. The two lady soloists joined
		in a lively pairing in Laudamus Te, and the gentle  6th movement Domine Deus, with soprano
		(Sara Wallander-Ross) and oboe (David Farnworth), was performed with moving sincerity.  The
		two solo movements for mezzo soprano are more sombre and Angharad Lewis sang these with
		suitable dignity. The rousing final chorus brought this excellent concert to a close.</p>

		<p>The Society continues to rely on a sturdy body of 100 enthusiastic musicians who meet
		to enjoy the pleasures of rehearsal and public performance, as we were reminded by short
		addresses by the Chairman and the Musical Director. We, the audience, fully appreciate
		their hard work and look forward to their future concerts leading to the Centenary celebrations
		in 2023!</p>

		<p><em>Nicholas Tyrrell-Evans</em></p>
</div>

<div class="clear_float"></div>

<div class="content_full_width">
	<h3>Previous Seasons' Concerts</h3>

	<p>Visit the <a href="archive.html">concert archive</a> to see the
	programmes and reviews from previous seasons.</p>

</div>

</div> <!-- End Content -->
{% endblock %}
