{% extends "layout.html" %}
{% block content %} 
<div class="content" id="home_content">

<!-- Content for lhs -->
<div id="lhs">

	<!-- Side panel: 304 x 533 -->
	<h2 id="our_society">Our Society</h2>

	<div id="society_promo" class="event_promo">

		<!-- 203x153 -->
		<img src="images/orchestra.png" alt="Orchestra" />

		<div class="details">
			<p>Founded 90 years ago in 1923, the Haslemere Musical Society consists of a
			Symphony Orchestra and Chorus and has been a major contributor to the musical
			life of South West Surrey.</p>
			<p>The Society has built a reputation for its high musical standards and for
			producing exciting and enjoyable concerts.</p>
		</div>

		<div class="clear_float"></div>
	</div>

	<h2 id="next_performance">Next Performance</h2>

	<div id="concert_promo" class="event_promo">

		<h3><a href="events.html">Summer Concert</a></h3>

		<div class="details">

			<span class="performers">Symphony Orchestra and Chorus</span><br/>

			<span class="date">Saturday 10<sup>th</sup> May</span>,
			<span class="location">Haslemere Hall</span>,
			<span class="when">19:30</span></br>
			<dl class="works">
				<dt>Brahms</dt>
				<dd>Academic Festival Overture</dd>
				<dt>Bruch</dt>
				<dd>Scottish Fantasy (Tom Horn, violin)</dd>
				<dt>Bach (arr. Gounod)</dt>
				<dd>Ave Maria</dd>
				<dt>Franck</dt>
				<dd>Psalm 150 </dd>
				<dt>Franck</dt>
				<dd>Panis Angelicus </dd>
				<dt>Vaughan Williams</dt>
				<dd>English Folksong Suite (orch. Gordon Jacob)</dd>
				<dt>Mozart</dt>
				<dd>Ave Verum Corpus </dd>
				<dt>Handel</dt>
				<dd>Coronation Anthems (The King shall Rejoice and Zadok the Priest)</dd>
			</dl>
		</div>

		<div class="clear_float"></div>
	</div>

	<h2 id="other_events">Other Events</h2>
	
	<div id="find_your_voice_promo" class="event_promo">
		<h3><a href="join.html#find_your_voice">Find Your Voice</a></h3>
		<div class="details">
			<p class="review_preview">HMS is offering an innovative method of attracting new singers - for free!
			<a href="join.html#find_your_voice">Read more</a></p>
		</div>
		<div class="clear_float"></div>
	</div>

	<div id="summer_sessions_promo" class="event_promo">
		<h3><a href="join.html#summer_sessions">Summer Sessions</a></h3>
		<div class="details">
			<p class="review_preview">A series of sessions will be run over the summer.
			<a href="join.html#summer_sessions">Read more</a></p>
		</div>
		<div class="clear_float"></div>
	</div>
<!--
	<div id="concert_promo" class="event_promo">

		<h3><a href="events.html#come_and_sing">Come and Sing: Booking Now Open</a></h3>
		<div class="details">

			<span class="date">Saturday 1<sup>st</sup> February</span>,
			<span class="location">St Christopher's Church</span>,
			<span class="when">14.00</span></br>
			<dl class="works">
				<dt>Handel:</dt>
				<dd>Zadok the Priest</dd>
				<dt>Parry:</dt>
				<dd>I was Glad</dd>
				<dt>Parry:</dt>
				<dd>Blest Pair of Sirens</dd>
			</dl>
		</div>

		<div class="clear_float"></div>
	</div>
-->

	<div id="concert_promo" class="event_promo">

		<div class="other_events">
			<a href="events.html">Other 2013-2014 events....</a>

		</div>

		<div class="clear_float"></div>
	</div>
	<span id="sponsors">

		<a href="http://www.makingmusic.org.uk/MM/home.aspx">
			<img id="making_music" src="images/making_music.png" alt="Making Music" />
		</a>

		<span id="chalice">
			<img id="community_foundation" src="images/community_foundation.png" alt="Community Foundation" />
			<br/>
			<img id="chalice_fund" src="images/haselmere_chalice_fund.png" alt="Haslemere Chalice Fund" />
		</span>

	</span>

</div>

<div id="mission_statement">
	&ldquo;Bringing music to the<br/>
	community&rdquo;
</div>

</div> <!-- End Content -->
{% endblock %}
