{% extends "layout.html" %}
{% block content %} 
<div class="content" id="home_content">

<!-- Content for lhs -->
<div id="lhs">

	<!-- Side panel: 304 x 533 -->
	<h2 id="our_society">Our Society</h2>

	<div id="society_promo" class="event_promo">

		<!-- 203x153 -->
		<img src="images/orchestra.png" alt="Orchestra" />

		<div class="details">
			<p>Founded 90 years ago in 1923, the Haslemere Musical Society consists of a
			Symphony Orchestra and Chorus and has been a major contributor to the musical
			life of South West Surrey.</p>
			<p>The Society has built a reputation for its high musical standards and for
			producing exciting and enjoyable concerts.</p>
		</div>

		<div class="clear_float"></div>
	</div>

	<h2 id="next_performance">Upcoming Events</h2>

	<div id="summer_sessions_promo" class="event_promo">
		<h3><a href="join.html#summer_sessions">Summer Sessions</h3>
		<h4>Do you: Pluck, bow, Sing, bang or blow?</a></h4>
		<div class="details">
			<p class="review_preview">If so, come and join us in our open summer sessions,
			we welcome musicians and singers who are not currently members of the Society.<br/>
			<a href="join.html#summer_sessions">Read more</a></p>
		</div>
		<div class="clear_float"></div>
	</div>

	<div id="concert_promo" class="event_promo">

{% for concert in (__all__.events.series[__all__.events.next_event.series]['events'][__all__.events.next_event.event],) %}
		<h3><a href="events.html">{{ concert.name }}</a></h3>

		<div class="details">

			<span class="performers">{{ concert.who }}</span><br/>

			<span class="date">{{ concert.date }}</span>,
			<span class="location">{{ concert.where }}</span>,
			<span class="when">19:30</span></br>
			<dl class="works">
			{% for work in concert.what %}
				<dt>{{ work.composer|paraText }}</dt>
				<dd>{{ work.piece|paraText }}</dd>
			{% endfor %}
			</dl>
		</div>
{% endfor %}
		<div class="clear_float"></div>
	</div>

<!--
	<div id="concert_promo" class="event_promo">

		<h3><a href="events.html#come_and_sing">Come and Sing: Booking Now Open</a></h3>
		<div class="details">

			<span class="date">Saturday 1<sup>st</sup> February</span>,
			<span class="location">St Christopher's Church</span>,
			<span class="when">14.00</span></br>
			<dl class="works">
				<dt>Handel:</dt>
				<dd>Zadok the Priest</dd>
				<dt>Parry:</dt>
				<dd>I was Glad</dd>
				<dt>Parry:</dt>
				<dd>Blest Pair of Sirens</dd>
			</dl>
		</div>

		<div class="clear_float"></div>
	</div>
-->

	<div id="concert_promo" class="event_promo">

		<div class="other_events">
			<a href="events.html">Other 2013-2014 events....</a>

		</div>

		<div class="clear_float"></div>
	</div>
	<span id="sponsors">

		<a href="http://www.makingmusic.org.uk/MM/home.aspx">
			<img id="making_music" src="images/making_music.png" alt="Making Music" />
		</a>

		<span id="chalice">
			<img id="community_foundation" src="images/community_foundation.png" alt="Community Foundation" />
			<br/>
			<img id="chalice_fund" src="images/haselmere_chalice_fund.png" alt="Haslemere Chalice Fund" />
		</span>

	</span>

</div>

<div id="mission_statement">
	&ldquo;Bringing music to the<br/>
	community&rdquo;
</div>

</div> <!-- End Content -->
{% endblock %}
