{% extends "layout.html" %}
{% block content %} 
<div class="content" id="home_content">

<!-- Content for lhs -->
<div id="lhs">

	<!-- Side panel: 304 x 533 -->
	<h2 id="our_society">Our Society</h2>

	<div id="society_promo" class="event_promo">

		<!-- 203x153 -->
		<img src="images/orchestra.png" alt="Orchestra" />

		<div class="details">
			<p>Founded 90 years ago in 1923, the Haslemere Musical Society consists of a
			Symphony Orchestra and Chorus and has been a major contributor to the musical
			life of South West Surrey.</p>
			<p>The Society has built a reputation for its high musical standards and for
			producing exciting and enjoyable concerts.</p>
		</div>

		<div class="clear_float"></div>
	</div>

	<h2 id="next_performance">Next Performance</h2>

	<div id="concert_promo" class="event_promo">

		<h3><a href="events.html">Spring Concert</a></h3>

		<div class="details">

			<span class="performers">Symphony Orchestra and Chorus</span><br/>

			<span class="date">Saturday 8<sup>th</sup> March</span>,
			<span class="location">Haslemere Hall</span>,
			<span class="when">19:30</span></br>
			<dl class="works">
				<dt>Dvor&#780;&aacute;k:</dt>
				<dd>Symphony No 6</dd>
				<dt>Bruckner:</dt>
				<dd>Locus Iste</dd>
				<dt>Bruckner:</dt>
				<dd>Mass No 1 in D minor</dd>
			</dl>
		</div>

		<div class="clear_float"></div>
	</div>
<!--
	<div id="concert_promo" class="event_promo">

		<h3><a href="events.html#come_and_sing">Come and Sing: Booking Now Open</a></h3>
		<div class="details">

			<span class="date">Saturday 1<sup>st</sup> February</span>,
			<span class="location">St Christopher's Church</span>,
			<span class="when">14.00</span></br>
			<dl class="works">
				<dt>Handel:</dt>
				<dd>Zadok the Priest</dd>
				<dt>Parry:</dt>
				<dd>I was Glad</dd>
				<dt>Parry:</dt>
				<dd>Blest Pair of Sirens</dd>
			</dl>
		</div>

		<div class="clear_float"></div>
	</div>
-->
	<div id="concert_promo" class="event_promo">

		<div class="other_events">
			<a href="review_2014_03_01.html">HMS in the Haslemere Herald</a>

			<p class="review_preview">HASLEMERE Musical Society (HMS) is going from strength to strength with leading UK conductor James Ross as its musical director, and hopes are high for a full house at the next big concert on March 8th when Dvo&#x159;&aacute;k's Symphony No 6 and Bruckner's Mass No 1 in D Minor will raise the roof at Haslemere Hall...... <a href="review_2014_03_01.html">Read more</a></p>
		</div>

		<div class="clear_float"></div>
	</div>

	<div id="concert_promo" class="event_promo">

		<div class="other_events">
			<a href="events.html">Other 2013-2014 events....</a>

		</div>

		<div class="clear_float"></div>
	</div>
	<span id="sponsors">

		<a href="http://www.makingmusic.org.uk/MM/home.aspx">
			<img id="making_music" src="images/making_music.png" alt="Making Music" />
		</a>

		<span id="chalice">
			<img id="community_foundation" src="images/community_foundation.png" alt="Community Foundation" />
			<br/>
			<img id="chalice_fund" src="images/haselmere_chalice_fund.png" alt="Haslemere Chalice Fund" />
		</span>

	</span>

</div>

<div id="mission_statement">
	&ldquo;Bringing music to the<br/>
	community&rdquo;
</div>

</div> <!-- End Content -->
{% endblock %}
