{% extends "layout.html" %}
{% block content %} 
<div class="content">

<a id="join_us"></a>
<h2>Join Us</h2>

<div class="img_col">
	<img id="come_and_sing" src="images/joinUs.png" alt="Join Us" />
</div>

<div class="content_col">

	<p>HMS is one of the few societies to have both an orchestra and a choir.
	We are always pleased to welcome new members - both singers and
	instrumentalists. All we ask of our members is that they should be enthusiastic
	and committed.</p>

	<p>New choir members are always welcome (sopranos, contraltos, tenors and basses).
	No audition is required. Come along to any rehearsal and meet us all.</p>

	<p>The orchestra is currently expanding and recruiting new high-standard
	musicians. There are currently vacancies for strings, brass, timpanist
	(instrument available); auditions will be required for wind/brass vacancies.
	Other instrumentalists are welcome to inquire about extra playing and
	deputising opportunities.</p>

	<p>Both choir and orchestra rehearse on Monday evenings from 7.30 to 10.00
	in the <a href="http://www.haslemerehall.co.uk/">Haslemere Hall</a>,
	between September and May. There is normally a final rehearsal during the
	afternoon before each concert.</p>

	<p>The society also meets for a number of summer sessions, working
	with invited conductors.</p>

	<p>For further information please contact:<br/>
	<a href="mailto:secretary@hmsoc.org.uk">Sue Ecclestone</a> (Secretary) or 
	<a href="mailto:orchsec@hmsoc.org.uk">Marion Bagshaw</a> (Orchestra Secretary).</p>

</div>

<span class="clear_float"></span>

<div class="content_full_width">
	<a id="summer_sessions"></a>
	<h2>Summer Sessions</h2>
	<div>

		<p>HMS runs four Summer Sessions which are open to all. One session is
		with both the orchestra and chorus and the others are normally for orchestra
		only.  Various works are sight-read and performed with a guest conductor. A
		small charge is made to cover music hire, venue and refreshments. The
		Society welcomes musicians and singers who are not currently members of the
		Society.</p>
<!--
		<p>The sessions are in the <a href="http://www.haslemerehall.co.uk/">Haslemere Hall</a>
		(please use the rear entrance) from 7.30 to 10.00pm.</p>
	
		For full details please see the <a class="section_link" href="events.html#summer_sessions">events section</a>.
-->
	</div>


</div>

<span class="clear_float"></span>

<div class="img_col_rhs">
	<img id="come_and_sing" src="images/comeAndSing.png" alt="Come and Sing" />
</div>

<div class="content_col_lhs">

	<a id="come_and_sing"></a>
	<h2>Come and Sing</h2>

	<p>HMS also run Come and Sing events where society members, family,
	friends and others can join us in learning a new work.</p>

	<p>The session is held at St Christopher's Church (<a href="https://maps.google.com/maps?ll=51.090114,-0.726321&spn=0.007857,0.019205&fb=1&hq=st+christopher's+church+haslemere&hnear=st+christopher's+church+haslemere&cid=0,0,14877506155288956453&t=h&z=16&iwloc=A" target="_blank">map</a>)
	from 2.00 to 6.30pm.</p>

	For full details please see the <a class="section_link" href="events.html#come_and_sing">events section</a>.
</div>

	<span class="clear_float"></span>

	<a id="subscriptions"></a>
	<h2>Subscriptions</h2>

	<p>Member subscriptions for the 2013-14 season is &pound;95 (students half price)
	payable at the first rehearsal of the season (first Monday in September), and may
	be Gift Aided.</p>

</div>




</div> <!-- End Content -->
{% endblock %}
