{% extends "layout.html" %}
{% block content %} 
<div class="content">

<div class="img_col">
	<img id="come_and_sing" src="images/joinUs.png" alt="Join Us" />
</div>
<div class="content_col">
	<a id="join_us"></a>
	<h2>{{ joinUs.title }}</h2>
	{{ joinUs.text | paraText }}
</div>
<span class="clear_float"></span>

<div class="img_col_rhs">
	<img id="summer_sessions_img" src="images/summerSessions.png" alt="Orchestra" />
</div>
<div class="content_col_lhs">
	<a id="summer_sessions"></a>
	<h2>{{summerSessions.title}}</h2>
	{{summerSessions.text | paraText}}
</div>
<span class="clear_float"></span>

<div class="img_col">
	<img id="come_and_sing" src="images/comeAndSing.png" alt="Come and Sing" />
</div>
<div class="content_col">
	<a id="come_and_sing"></a>
	<a id="find_your_voice"></a>
	<h2>{{ comeAndSing.title }}</h2>
	{{ comeAndSing.text | paraText }}
</div>
<span class="clear_float"></span>

<div class="content_full_width">
	<a id="subscriptions"></a>
	<h2>{{ subscriptions.title }}</h2>
	{{ subscriptions.text | paraText }}
</div>

</div> <!-- End Content -->
{% endblock %}
