{% extends "layout.html" %}
{% block content %} 
<div class="content">

<a id="news"></a>
{% for news_item in news %}	
<div class="img_col">
	<img src="{{ news_item.image }}">
</div>	<!-- img_col -->
<div class="content_col">
      {% if news_item.title %}
  	  <h2>{{ news_item.title }}</h2>
      {% endif %}
  	  {{ news_item.body|paraText }}
</div>	<!-- content_col -->

<div class="clear_float"></div>
{% endfor %}

<a id="member_information"></a>
<h2>Member information</h2>

<h3>Rehearsals</h3>
	{% if rehearsals.exceptions %}
	<ul>
		{% for exception in rehearsals.exceptions %}
		<li>{{exception|paraText}}</li>
		{% endfor %}
	</ul>
	{% endif %}
	<p>{{rehearsals.location}}</p>

{% if rehearsals.schedule %}
<table>
	<thead>
		<th>Date</th>
    {% if rehearsals.choir_schedule %}
		<th>Chorus</th>
    {% endif %}
    {% if rehearsals.orchestra_schedule %}
		<th>Orchestra</th>
    {% endif %}
	</thead>
{% for rehearsal in rehearsals.schedule %}
	<tr>
		<td>{{rehearsal.date}}</td>
    {% if rehearsals.choir_schedule %}
		<td>
		{% for movement in rehearsal.choir or [] %}
			{{movement|paraText}}<br/>
		{% endfor %}
		</td>
    {% endif %}
    {% if rehearsals.orchestra_schedule %}
		<td>
		{% for movement in rehearsal.orchestra or [] %}
			{{movement|paraText}}<br/>
		{% endfor %}
		</td>
    {% endif %}
	</tr>
{% endfor %}
</table>
{% endif %}

<h3>{{ future_dates.title }}</h3>

<p>{{ future_dates.text|paraText}}</p>

<dl>
	{% for item in future_dates.dates %}
		<dt>{{ item.category }}
		<dd><ul>
        {% for date in item.dates %}
			<li>{{date|paraText}}</li>
		{% endfor %}
		</ul>
	{% endfor %}
</dl>

{% if external_links %}
<a id="links"></a>
<h3>Links and Rehearsal Music</h3>
<table>
	<thead>
		<th>Link</th>
		<th>Website</th>
	</thead>
{% for item in external_links %}
	<tr>
		<td><a href="{{item.link}}">{{item.label}}</a></td>
		<td>{{item.description}}</td>
	</tr>
{% endfor %}
</table>
{% endif %}

{% if other_opportunities %}
<h3>Other musical opportunities</h3>
{% for item in other_opportunities %}
	<dl>
		<dt>{{item.label}}</td>
		<dd>{{item.description|paraText}}
		{% if item.links %}
			<p>For more details see:
			{% for lnk in item.links %}
				<a href="{{lnk.target}}">{{lnk.description}}</a>
			{% endfor %}
			</p>
		{% endif %}
		</td>
	</dl>
{% endfor %}
{% endif %}

</div> <!-- End Content -->
{% endblock %}
