{% extends "layout.html" %}
{% block content %} 
<div class="content">

<div>
	<div class="img_col">
		<img src="images/reviews/chorusAndOrchestra.png" alt="HMS Chorus and Orchestra" />
	</div>

	<div class="content_col">
		<h2>Review of Haslemere Musical Society Concert May 4, 2013</h2>

		<p>Haslemere Hall was the site of a celebration of local talent and enthusiasm on
		Saturday night (May 4) as the orchestra and chorus of the Haslemere Musical
		Society  gathered for a concert in their 90th anniversary season. Wearing
		colourful blouses and bow ties, the chorus set an appropriately festive tone
		for the spring-themed concert, which featured The Villagers' Chorus from
		Rossini's 'William Tell', Anvil Chorus from Verdi's 'Il
		Trovatore' and Procession and Chorale from Wagner's 'The
		Mastersingers of Nuremberg', among many other delights.</p>

		<p>The last of the sun's rays was still filtering into the hall as the
		orchestra commanded our attention with Rossini's 'The Barber of
		Seville' Overture. Under James Ross' energetic and very physical
		direction, the orchestra began strongly and continued to gain confidence and
		energy throughout the evening.  The chorus, too, rose to the not insignificant
		challenge of meeting the orchestra's energy and sound. While at times the
		chorus of happy villagers and wedding guests seemed somewhat underwhelmed, the
		whole of the evening was sung capably and was a tribute to the passions and
		talents of all the musicians involved.</p>
	</div>
	<div class="img_col">
		<img src="images/reviews/joannaAndAnthony.png" alt="Joanna Bywater and HMS president Sir Anthony Laughton" />
	</div>
	<div class="content_col">
		<p>A particular treat were the arias sung by St Edmund's School (Hindhead)
		choristers Tallulah Horton, Sam Dashwood and Louis Denison-Foster.  Each showed
		remarkable vocal skill, and their poise and professionalism on stage were made
		more astounding by the revelation that none had ever sung with a full orchestra
		until the performance itself. It will be a pleasure to see these young singers
		continue to develop their talents in the coming years.</p>

		 
		<p>Soprano soloist Joanna Bywater's radiant delivery of Mascagni's Easter
		Hymn proved to be one of the evening's highlights. Her performance was so
		captivating that even director James Ross lost his cool. Having reassured the
		audience during the 'William Tell' selection that no arrows would be
		shot during the performance, Ross surprised everyone (including himself) by
		sending his baton soaring into the stalls during the climactic moment.</p>

		 
		<p>On such a lovely spring evening, it was good to hear the Haslemere Musical
		Society bringing off a lighter repertoire as effectively as the weightier
		oratorios we have heard recently. I look forward to future concerts with great
		anticipation.</p>

		<p><em>Lera O'Sullivan</em></p>
	</div>
</div>

<div class="clear_float"></div>

<div class="content_full_width">

</div>

</div> <!-- End Content -->
{% endblock %}
