<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html  xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Haslemere Musical Society</title>

	<script src="lightbox/js/jquery-1.7.2.min.js"></script>
	<script src="lightbox/js/lightbox.js"></script>	

	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/layout.css" />
	<link rel="stylesheet" type="text/css" href="css/widgets.css" />
	<link rel="stylesheet" type="text/css" href="css/hms.css" />
	<link rel="stylesheet" type="text/css" href="lightbox/css/lightbox.css" />


	<meta name="keywords" content="Haslemere, Musical society"/>
	<meta name="description" content="Musical society with both choir and orchestra"/>
</head>

<body>
	<div id="maincontainer">
		<div id="banner">
			<h1>Haslemere Musical Society</h1>
			<h2>Symphony Orchestra and Chorus</h2>
			<img src="images/logo_white.png" />
		</div>
		<div id="nav_bar">
			<ul id="nav_menu" class="menu">
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About Us</a>
					<ul>
						<li><a href="about.html#">Society</a></li>
						<li><a href="about.html#musical_director">Musical Director</a></li>
						<li><a href="about.html#orchestra_leader">Orchestra leader</a></li>
						<li><a href="about.html#chorus_master">Chorus master</a></li>
						<li><a href="about.html#rehearsal_pianist">Rehearsal Pianist</a></li>
					</ul>
				</li>
				<li><a href="join.html">Join Us</a>
					<ul>
						<li><a href="join.html#welcome">Welcome</a></li>
						<li><a href="join.html#summer_sessions">Summer Sessions</a></li>
						<li><a href="join.html#come_and_sing">Come and Sing</a></li>
					</ul>
				</li>
				<li><a href="support.html">Support Us</a>
					<ul>
						<li><a href="support.html#shopping">Shop Online</a></li>
						<li><a href="support.html#gift_aid">Gift Aid</a></li>
						<li><a href="support.html#patron">Become a Patron</a></li>
						<li><a href="support.html#friend">Become a Friend</a></li>
						<li><a href="support.html#sponsor">Sponsor</a></li>
					</ul>
				</li>
				<li><a href="concerts.html">Concerts</a>
					<ul>
						<li><a href="concerts.html#latest_concerts">Latest Concert</a></li>
						<li><a href="concerts.html#tickets">Tickets</a></li>
						<li><a href="archive.html">Archive</a></li>
					</ul>
				</li>
				<li><a href="contact.html">Contact Us</a></li>
				<li><a href="members.html">Members</a>
					<ul>
						<li><a href="members.html#highlights">2012 Highlights</a></li>
						<li><a href="members.html#member_information">Member Information</a></li>
						<li><a href="members.html#links">Links</a></li>
					</ul>
				</li>
			</ul>
			<span class="clear_float"></span>
		</div>
