<html>

<head>
	<title>Example of page layout with divs</title>
	<link rel="stylesheet" type="text/css" href="layout.css" />
	<link rel="stylesheet" type="text/css" href="widgets.css" />
	<link rel="stylesheet" type="text/css" href="colours.css" /> 
	<style>
#maincontainer {
	background-image: url('../reference/HMS WEB Export/Slide1.png');
	background-repeat: no-repeat;
}
	</style>
</head>

<body>
	<div id="maincontainer">
		<div id="banner">
			<div id="nav_bar">
				<ul id="nav_menu" class="menu">
					<li><a href="home.html">Home</a></li>
					<li><a href="about.html">About Us</a></li>
					<li><a href="join.html">Join Us</a></li></a></li>
					<li><a href="support.html">Support Us</a></li>
					<li><a href="concerts.html">Concerts</a></li>
					<li><a href="news.html">News</a></li>
					<li><a href="members.html">Members</a></li>
				</ul>
				<ul id="social" class="menu">
					<li><a href="#">F</a></li>
					<li><a href="#">T</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<!-- Two column layout -->
			<div id="lhs">

				<h1>Lorem ipsum</h1>

				<p>Lorem ipsum dolor sit amet, corpora albucius id vis, erant dicit vivendum ex eam, duo mazim
				cetero commune cu. Mea cu sale expetendis posidonium, ceteros signiferumque et eum. Eripuit
				recusabo vel et, ne vitae iriure vis. Quo ex quis nostro maluisset. Nec mollis dolorem conceptam
				ad, elit assum sed id. Est te omnesque eligendi.</p>


				<p>Te sed euismod reprimique, suscipit adolescens sea ut, sit dico sadipscing ut. Ut est rationibus
				disputando suscipiantur, eu sea ponderum adipisci, at vim meliore consequat sententiae. Ut ius modo
				solet ridens, cum quem recusabo cu. Vim ea posse accusam repudiandae.</p>


				<p>Mel velit ponderum ei. Dicunt forensibus an qui, unum suscipit duo ne. Has an quem albucius. Te vix
				voluptaria expetendis. Ut labore semper mel. Simul percipitur referrentur vis ut.</p>


				<p>Postea mandamus temporibus mel et. Volutpat pertinacia efficiendi has at, cum laudem iuvaret
				assueverit an. Et solet populo legendos nec, qui cu quod iusto maluisset. Justo partiendo
				abhorreant pro ad, inimicus mediocrem urbanitas mel in. Eu mea vero inani verterem, saepe viderer
				perfecto et est. Alia aperiam vix ei, quis tota feugiat vis te, sit in sint velit pericula.</p>

			</div>
			<div id="rhs">

				<p>Lorem ipsum dolor sit amet, corpora albucius id vis, erant dicit vivendum ex eam, duo mazim
				cetero commune cu. Mea cu sale expetendis posidonium, ceteros signiferumque et eum. Eripuit
				recusabo vel et, ne vitae iriure vis. Quo ex quis nostro maluisset. Nec mollis dolorem conceptam
				ad, elit assum sed id. Est te omnesque eligendi.</p>

			</div>
		</div>
		<!-- Footer -->
		<div id="footer">
			footer
		</div>
	</div>
</body>
</html>
